/* ========Shared Styles======= */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}
body{
    max-width: 1340px;
    margin: 0 auto;
}
.primary-p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 600;
}


/* ========Main Styles Starts========== */

/* ==Title with logo== */
nav
{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.title-section
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-section .logo
{
    width: 48px;
    height: 46px;
}
.title-section .title
{
    padding-left: 20px;
}
.title-section .title h3
{
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
}
.title-section .title span
{
    color: #FF5400;
}
/* ======================== */

/* ===Menu=== */
.menu-section ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.menu-section ul li
{
    margin-left: 30px;
    padding: 10px;  
}
.menu-section ul li a
{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}
.menu-section ul li span
{
    color: #FF5400;
    font-weight: 700;
}
/* ============================ */

/* =====Banner Styles===== */
.banner-section
{
    background: rgba(0,0,0,0.4)url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-blend-mode: darken;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
}
.banner-section h1
{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-bottom: 30px;
}
.banner-section p
{
    padding-bottom: 50px;
    color:#FFF
}
.banner-btn
{
    background-color: rgba(213, 213, 225, 0.4);
    background-size: 50px;
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.banner-btn .btn
{
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}
.banner-btn .color-btn 
{
    padding: 12px 40px;
    border: none;
    border-radius: 8px;
    background: #FF5400;;
    color: #FFF;
}


/* ====Tour section==== */
.tour-section
{
    display: flex;
    padding-top: 50px;
    margin-top: 50px;
}
.tour-text
{
    width: 50%;
    padding-right: 20px;
    padding-top: 20px;
}
.tour-text ul{
    padding: 20px 40px;
}
.tour-text ul li{
    padding: 10px 0;
}
h2
{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 20px;
}
.tour-text p
{
padding-bottom: 10px;
}
.tour-image{
    width: 50%;
    padding: 20px;
}
.tour-image img{
    width: 100%;
    height: 85%;
}
.btn
{
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    background: #FF5400;
    color: white;
    margin-top: 60px;
    font-weight: 800;
    font-size: 20px;
}


/* =====Destinaiton-section====== */
.destinaiton-section{
    margin-top: 20px;
    margin-bottom: 40px;
}
.d-header{
    text-align: center;
    padding: 30px 80px;
}
.d-image{
    margin-top: 20px;
    
}
.d-image .row{
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    position: relative;
}
.d-image .row .image{
    width: 50%; 
}
.d-image .row img{
    width: 100%;
    height: 300px;
}
.d-image .row h3{
    position: absolute;
    margin: 120px;
    color: #FFF;
    font-weight: 800;
    font-size: 28px;
}
.thirty{
   width: 30%;
}
.fifty{
    width: 50%;
}
.twenty{
    width: 20%;
}
.forty{
    width: 40%;
}
.sixty{
    width: 60%;
}

/* =========Why Section====== */
.why-section .row1{
    display: flex;
    gap: 20px;
}
.why-section .row2{
    display: flex;
    justify-content: center;
}
.card{
    padding: 32px;
    width: 50%;
    margin-top: 20px;
    background: rgba(202, 196, 196, 0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 2px .5px #04040dcc;
}
.row1 .card-2{
    background:  rgba(161, 224, 178, 0.2);
}
h5{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* ======Place Section====== */
.place-section{
    margin-top: 150px;
    display: flex;
}
.place-text{
    width: 45%;
    padding: 20px 30px 20px 0px;
}
.place-text p{
    color: #5A5A5D;
    margin-bottom: 30px;
    padding-top: 30px;
}
.place-text ul{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 700;   
}
.place-text ul li{
    margin-bottom: 20px;
}
.side-image{
    width: 55%;
    position: relative;
}
.side-image img{
    width: 100%;
    height: 95%;
    padding: 20px;
}
.side-image h3{
    color: #FFF;
    position: absolute;
    margin: 240px 200px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}